<div class="jumbotron">
  <h2><input id="username" type="text" class="form-control" placeholder="username" /></h2>
  <input id="user-submit" type="submit" class="btn btn-primary" />

  <div id="lebrons">
    <h2>Chat it up yall</h2>
    <input id="chat-input" type="text" class="form-control" placeholder="say something amazing..." />
    <input id="bot-input" type="text" class="form-control" placeholder="Whisper the bot" />
    <div id="messages">
    </div>
  </div>
</div>
